@import '../../../assets/styles/variables/colors.scss';

.back-to-top {
    & > div {
        cursor: pointer;
        position: fixed;
        right: 23px;
        bottom: 30px;
        background: $blue;
        border: none;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        z-index: 10;
        width: 34px;
        height: 34px;
        line-height: 34px;

        svg {
            height: 10px;
            fill: #fff;
        }
    }
}