@import '../../../assets/styles/variables/colors.scss';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    .navbar {
        background-color: $blue;
        a {
            color: $grey;
            &.navigation-active {
                color: $white;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}